@model Movie
@{
    ViewData["Title"] = "Enter Movie";
}
<h1>@ViewData["Title"]</h1>

<form method="post">

    <input type="hidden" asp-for="MovieId" /> <!--For updating the movies when sent to this page-->

    <label asp-for="Title">Title:</label>
    <input type="text" asp-for="Title" required />
    <br />
    <br />

    <label asp-for="Year">Year:</label>
    <input asp-for="Year" required min="1880" />
    <br />
    <br />

    <label asp-for="CategoryId">Category:</label>
    <select asp-for="CategoryId">
        <option value="" selected>Select a Category</option>
        @foreach (Category c in ViewBag.Categories) // Loops through all categories
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br />
    <br />

    <label asp-for="Director" >Director:</label>
    <input asp-for="Director"/>
    <br />
    <br />

    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating">
        <option selected value="">Choose a rating</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="NR">NR</option>
        <option value="R">R</option>
        <option value="TV-14">TV-14</option>
        <option value="TV-PG">TV-PG</option>
        <option value="TV-Y7">TV-Y7</option>
        <option value="UR">UR</option>
    </select>
    <br />
    <br />    
    
    <label asp-for="CopiedToPlex">Has this movie been copied to Plex?</label><br />
    <input type="radio" asp-for="CopiedToPlex" value="true" required /> Yes<br />
    <input type="radio" asp-for="CopiedToPlex" value="false" required /> No
    <br />
    <br />

    <label asp-for="Edited">Edited:</label><br />
    <input type="radio" asp-for="Edited" value="true" required /> Yes<br />
    <input type="radio" asp-for="Edited" value="false" required /> No
    <br />
    <br />

    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo" />
    <br />
    <br />

    <label asp-for="Notes" >Notes:</label>
    <input asp-for="Notes" minlength="0" maxlength="25" />
    <br />
    <br />

    <button class="btn btn-info" type="submit">Submit Movie</button>
</form>
<br />

<div class="alert-danger" asp-validation-summary="All"></div>